//
//  Secrets.xcconfig.example
//  AnimeWeeb
//
//  Created by Maksim Sazanovich
//

// Google Auth Configuration Template
GID_CLIENT_ID = YOUR_CLIENT_ID_HERE
GID_SERVER_CLIENT_ID = YOUR_SERVER_CLIENT_ID_HERE
GID_URL_SCHEME = YOUR_REVERSED_CLIENT_ID_HERE
